body {
font-family: sans-serif;
    overflow: hidden;
}

.about,.hint,.skills {
    position: absolute;
    padding: 0.7em 1em;
    background: rgba(240, 240, 240, 0.8);
}

.about {
    right: 0.5em;
    bottom: 0.5em;
}

.hint {
    left: 0.5em;
    bottom: 0.5em;
}

.skills {
    right: 0.5em;
    top: 0.5em;
    width: 6em;
    height: 30em;
    background-color: rgba(240, 250, 255, 0.8);
}

.skills img {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 5em;
}

#skill-1-color {
    z-index: 1;
}

#skill-1-grey {
    z-index: 2;
}

.skills p {
    position: absolute;
    text-align: right;
    right: 3.2em;
    top: 0.8em;
    font-size: 2em;
}

.loading {
    margin: 10% 10%;
    font-size: xx-large;
    position: absolute;
}

.win {
    display: none;
    font-size: xx-large;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 8em;
    padding: 0.5em 2em;
    color: red;
    background: rgba(240, 240, 240, 0.8);
}

.win a:hover {
    text-decoration: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.win p {
    font-size: 0.6em;
    color: grey;
}

canvas {
    background: #fff;
}

.dark canvas {
    background: #222;
}